nav.navbar.navbar-dark.bg-info{
    background-color: #337ab7;
    border-color: #2e6da4;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
nav.navbar.navbar-dark.bg-info a {
    color: white;
}
li p.navbar-text, .navbar-dark a.navbar-brand {
    color: white!important ;
}
footer.footer {
    background-color: #337ab7;
    border-color: #2e6da4;
    margin-top: 55px;
    color: white;
    border-radius: 5px;
}
footer.footer p {
    padding: 10px;
}
button.fas{
    color: #3490dc;
    border: none;
    background: none;
    cursor: pointer;
}
button.fas:hover{
    color: #1d68a7;
}